extends layout

block content

    header
        div.primary-content
            div.container
                h1.pull-left
                    a Caqui JS
                p.pull-right #{numLinks} links de puro conhecimento.<br /> ... e contando.

        div.secondary-content(data-offscreen="true")
            form.container(action="")
                label(for="txt-filter")
                    i.glyphicon.glyphicon-search
                input#txt-filter(type="search", placeholder="Filtre os resultados utilizando tags...", autofocus="autofocus")
        div.alert-news
            button.btn.btn-success(type="button")
                i.glyphicon.glyphicon-arrow-up
                span.text Wow! Já temos mais 5 links. Quer ver?

    main
        div.container
            div.hello.alert.alert-info.alert-dismissable
                p <strong>Ajude-nos a compartilhar o conhecimento:</strong> <a href="javascrip:void(0);" id="btn-share-twitter" class="btn btn-primary">Tweet</a> ou <a href="javascrip:void(0);" id="btn-share-facebook" class="btn btn-primary">Compartilhe o nosso site no Facebook</a> Valeu!</p>
                button.close(type="button", data-dismiss="alert", aria-hidden="true") ×

            p.notifications Quer receber notificações do navegador quando novos links forem postados? Ative este recurso
                a.btn-notifications(href="#")&nbsp;clicando aqui

            section
                br
                br
                a(href="/dataLink/new").btn.btn-default!= "cadastrar novo link"
                br
                br
                - each dataLink in dataLinks
                    article.row.clearfix
                        div.status
                            span Novo
                                i.icon

                        div.col-md-2
                            a(href=dataLink.link, target="_blank")
                                img.img-responsive.img-destaque(src=dataLink.imgurl)

                        div.col-md-10
                            a.link-title(href=dataLink.link, target="_blank")
                                h1= dataLink.title
                                small= dataLink.link
                                    i.glyphicon.glyphicon-new-window

                            div
                                p= dataLink.description

                            footer.clearfix
                                nav.pull-left.tags Tags:
                                    - each tag in dataLink.tags.split(',')
                                        a(href="?tag=#{tag}") #{tag}&nbsp;

                                div.post-info.pull-right
                                    a(href="https://www.facebook.com/#{dataLink.usertoken}", target="_blank", title="Ver #{dataLink.usertoken} no Facebook")
                                        img(src="https://graph.facebook.com/#{dataLink.usertoken}/picture", alt="#{dataLink.usertoken}", class="user-picture")
                                    p Postado <span class="time">#{dataLink.created_at}</span><br /> Por <a href="https://www.facebook.com/#{dataLink.usertoken}" target="_blank" title="Ver #{dataLink.usertoken} no Facebook">#{dataLink.usertoken}</a>
                                br
                                br
                                div.edit
                                    form( method="post", action="/dataLink/:id/delete")
                                        input(name="_id", type="hidden", value=dataLink._id.toHexString())
                                        input(id="delete", value="deletar", type="submit")
                                    form( method="get", action="/dataLink/:id/edit")
                                        input(name="_id", type="hidden", value=dataLink._id.toHexString())
                                        input(id="edit", value="editar", type="submit")

                div.loading-more
                    i Caregando... Temos mais conhecimentos para compartilhar. "Guenta ae"!